version: '3.9'

services:
  postgresql:
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres


  consul:
    image: consul:1.1.0
    hostname: localhost
    ports:
      - "8500:8500"


  haproxy_collection_service:
    image: "haproxy:2.2-alpine"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./haproxy/haproxy-collection-service.cfg:/usr/local/etc/haproxy/haproxy.cfg
      - ./cert.pem:/etc/ssl/certs/site.pem


  haproxy_navigator_service:
    image: "haproxy:2.2-alpine"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./haproxy/haproxy-navigator-service.cfg:/usr/local/etc/haproxy/haproxy.cfg
      - ./cert.pem:/etc/ssl/certs/site.pem